{% extends 'base.html.twig'%}

{% block title%}
    Ajouter un article
{% endblock %}
{% block stylesheets %}
    {{parent()}}

{% endblock %}
{% block body %}
{% include "menu/_menu.html.twig" %}

    <div class="container">    
        <h1>Ajouter un article</h1>

    {% if not form.vars.valid %}
        {{ form_start(form,{'attr':{'class':'was-invalidated'}}) }}
    {% else %}
        {{ form_start(form) }}
    {% endif %}
    

        {{ form_label(form.titre,null,{'label_attr':{"class":'form-label'}})}}
        {{ form_widget(form.titre,{'attr':{'class':'form-control'}}) }}
        <div class='invalid-feedback'>
            {{ form_errors(form.titre) }}
        </div>
        {{ form_label(form.contenu,null,{'label_attr':{"class":'form-label'}})}}
        {{ form_widget(form.contenu,{'attr':{'class':'form-control'}}) }}

        {{ form_label(form.dateCreation,null,{'label_attr':{"class":'form-label'}})}}
        {{ form_widget(form.dateCreation,{'attr':{'class':'form-control'}}) }}   
        
        {{ form_label(form.categories,null,{'label_attr':{"class":'form-label'}})}}
        {{ form_widget(form.categories,{'attr':{'class':'form-control'}}) }} 
        
        {{ form_widget(form.brouillon,{'attr':{'class':'mt-3 btn btn-light'}})}}
        {{ form_widget(form.publier,{'attr':{'class':'mt-3 btn btn-success'}})}}

        {{form_rest(form)}}
    {{ form_end(form) }}    
    </div>
{% endblock body %}